@keyframes slideUp-xl {
    0% {
        transform: translateY(250%);
        opacity: 0;
    }
    20% {
        transform: translateY(150%);
        opacity: 1;
    }
    40% {
        transform: translateY(50%);
        opacity: 1;
    }
    60% {
        transform: translateY(-50%);
        opacity: 1;
    }
    80% {
        transform: translateY(-150%);
        opacity: 1;
    }
    100% {
        transform: translateY(-250%);
        opacity: 0;
    }
}

@keyframes slideUp-lg {
    0% {
        transform: translateY(175%);
        opacity: 0;
    }
    20% {
        transform: translateY(75%);
        opacity: 1;
    }
    40% {
        transform: translateY(-25%);
        opacity: 1;
    }
    60% {
        transform: translateY(-125%);
        opacity: 1;
    }
    80% {
        transform: translateY(-225%);
        opacity: 1;
    }
    100% {
        transform: translateY(-325%);
        opacity: 0;
    }
}

.message-animate {
    animation: slideUp-lg 8s ease-in-out infinite;
}

@media (min-width: 1280px) {
    .message-animate {
        animation: slideUp-xl 8s ease-in-out infinite;
    }
}