.cv-card {
    width: 100%;
    height: 300px; /* Ajustez la hauteur selon vos besoins */
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cv-card:hover {
    transform: scale(1.03);
}

.cv-color-bg {
    background-color: #76372A;
}

.cv-color-text {
    color: #DCDCE5;
}
