@keyframes infinite-scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(15%); }
}

.animate-infinite-scroll {
    animation: infinite-scroll 5s linear infinite;
    animation-play-state: running; /* 30assure que l'animation est en cours d'exécution */
}

@keyframes infinite-scroll-inverse {
    from { transform: translateX(0%); }
    to { transform: translateX(-15%); }
}

.animate-infinite-scroll-inverse {
    animation: infinite-scroll-inverse 5s linear infinite;
    animation-play-state: running; /* S'assure que l'animation est en cours d'exécution */
}
