@keyframes slideUp-lg {
    0% {
        transform: translateY(250%);
        opacity: 0;
    }
    20% {
        transform: translateY(150%);
        opacity: 1;
    }
    40% {
        transform: translateY(50%);
        opacity: 1;
    }
    60% {
        transform: translateY(-50%);
        opacity: 1;
    }
    80% {
        transform: translateY(-150%);
        opacity: 1;
    }
    100% {
        transform: translateY(-250%);
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(175%);
        opacity: 0;
    }
    20% {
        transform: translateY(50%);
        opacity: 1;
    }
    40% {
        transform: translateY(-50%);
        opacity: 1;
    }
    60% {
        transform: translateY(-150%);
        opacity: 1;
    }
    80% {
        transform: translateY(-250%);
        opacity: 1;
    }
    100% {
        transform: translateY(-350%);
        opacity: 0;
    }
}

.message-animate {
    animation: slideUp 10s ease-in-out infinite;
}

@media (min-width: 1022px) {
    .message-animate {
        animation: slideUp-lg 10s ease-in-out infinite;
    }
}